/dokkan-backend/16 Farmbot
/dokkan-backend/Convert files.py 
/dokkan-backend/Create DFE mosaic wallpaper.py
/dokkan-backend/Create EZA mosaic wallpaper.py
/dokkan-backend/Create LR mosaic wallpaper.py
/dokkan-backend/Create true mosaic wallpaper.py
/dokkan-backend/Database expander.py
/dokkan-backend/Database searcher.py
/dokkan-backend/dokkan Json creator.py
/dokkan-backend/dokkanfunctions.py
/dokkan-backend/Full portrait creator(use JP).py
/dokkan-backend/globals.py
/dokkan-backend/passive_skills.csv meaning.txt
/dokkan-backend/Scraped Units.txt
/dokkan-backend/temp.py
/dokkan-backend/Use_after_DDL.py
/dokkan-backend/__pycache__
/dokkan-backend/Smile farmbot