
dbManagement
!dbManagement/DokkanFiles
!dbManagement/DokkanFiles/global
!dbManagement/DokkanFiles/global/en
!dbManagement/DokkanFiles/global/en/character
!dbManagement/DokkanFiles/global/en/character/card
!dbManagement/DokkanFiles/global/en/character/card/**




!dbManagement/DokkanFiles/global/en/layout
!dbManagement/DokkanFiles/global/en/layout/en
!dbManagement/DokkanFiles/global/en/layout/en/image
!dbManagement/DokkanFiles/global/en/layout/en/image/ingame
!dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle
!dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts
!dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/**


# Ignore all files that end with 
dbManagement/DokkanFiles/global/en/character/card/*bg.png
dbManagement/DokkanFiles/global/en/character/card/*character.png
dbManagement/DokkanFiles/global/en/character/card/*effect.png
dbManagement/DokkanFiles/global/en/character/card/*piece.png

# Ignore all files that include "cutin" in the name
dbManagement/DokkanFiles/global/en/character/card/*cutin*

# Ignore folders named fr, ja, ko, zh
dbManagement/DokkanFiles/global/en/character/card/fr/
dbManagement/DokkanFiles/global/en/character/card/fr/*
dbManagement/DokkanFiles/global/en/character/card/ja/
dbManagement/DokkanFiles/global/en/character/card/ja/*
dbManagement/DokkanFiles/global/en/character/card/ko/
dbManagement/DokkanFiles/global/en/character/card/ko/*
dbManagement/DokkanFiles/global/en/character/card/zh/
dbManagement/DokkanFiles/global/en/character/card/zh/*

!dbManagement/DokkanFiles/global/en/layout/en/image/charamenu
!dbManagement/DokkanFiles/global/en/layout/en/image/charamenu/potential
!dbManagement/DokkanFiles/global/en/layout/en/image/charamenu/potential/**


!dbManagement/assets
!dbManagement/assets/**

__pycache__