/dbManagement/16 Farmbot
/dbManagement/Convert files.py 
/dbManagement/Create DFE mosaic wallpaper.py
/dbManagement/Create EZA mosaic wallpaper.py
/dbManagement/Create LR mosaic wallpaper.py
/dbManagement/Create true mosaic wallpaper.py
/dbManagement/Database expander.py
/dbManagement/Database searcher.py
/dbManagement/dokkan Json creator.py
/dbManagement/dokkanfunctions.py
/dbManagement/Full portrait creator(use JP).py
/dbManagement/globals.py
/dbManagement/passive_skills.csv meaning.txt
/dbManagement/Scraped Units.txt
/dbManagement/temp.py
/dbManagement/Use_after_DDL.py