@keyframes flipY {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}


.unit-lr-animation-lwf{
  position:absolute;
  top:-50%;
  left:-50%;
  width:200%;
  height:200%;
  z-index:2;
  pointer-events: none;
}

#star-button {
  width: 100%;
  height: 100%;
  grid-column: 2;
  grid-row: 2;
  z-index: 2;
  position: relative;
  padding:0;
  background: url('/dbManagement/assets/misc/potential/star_active.png') no-repeat center;
  background-size: contain;
}


#star-button.rainbow {
  background: none;
}

#star-button-lwf{
  width: inherit;
  height: inherit;
}

.HiPoStar {
  width: 100%;
  height: 100%;
  border: none;
  background: url('/dbManagement/assets/misc/potential/star_unactive.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin-right: 0px;

}


#hipo-button-container {
  aspect-ratio: 1/1;
  position: relative;
  display:none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 250px;
  height: 100%;
  grid-row:1;
  grid-column:2;
}



.sort-filter-search{
  grid-column:3;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.sort-filter-title{
  text-align: center;
  grid-column: 2;
  align-content: end;
  width: 100%;
  height: 50px;
  grid-row: 1;
  font-size:x-large;
  font-style: italic;
  font-weight: bold;
  font-family:sans-serif;
}


.title-and-search{
  grid-row: 1;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  display: grid;
}

.selection-type-choice{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-block: 10px;
}
.selection-type-option{
  position:relative;
  cursor: pointer;
  top: 0px;
  grid-row: 1;
  background-repeat: no-repeat;
  background-position-x: 12%;
  background-position-y: 66%;
  background-size: contain;
  text-align: end;
  width: 80%;
  line-height: 50px;
  background-image: url('/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/com_btn_radio_off.png')
}

.selection-type-option.active{
  background-image: url('/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/com_btn_radio_on.png')
}

.selection-screen{
  display: grid;
  z-index: 1000;
  position: fixed;
  grid-template-rows: 6fr 10fr 100fr 8fr;
}

.OKCancelContainer{
  grid-template-columns: 1fr 2fr 1fr;
}


.OKCancelContainer-button{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 70%;
  text-shadow: 0 0 12px black;
  font-family:sans-serif;
  text-align:center;
  cursor: pointer;
}

.category-grid{
  display:grid;
  grid-row: 3;
  grid-row-gap: 4px;
  grid-template-columns: 1fr 1fr;
  height:100%;
  overflow-y: scroll;
}


.category-button{
  cursor: pointer;
  position:relative;
  background-size:contain;
  width:100%;
  aspect-ratio: 4/1;
  background-repeat: no-repeat;
}

.direction-option{
  cursor: pointer;
  background-image:url('/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/com_btn_03_yellow.png');
  position:relative;
  background-size:contain;
  height:104%;
  aspect-ratio: 2/1;
  justify-self:end;
  top:-72%;
}


.direction-option-text{
  position:relative;
  background-size:contain;
  width:125%;
  aspect-ratio: 190/90;
  top:-14%;
  left: -13%;
}

.direction-option-text.descending{
  background-image:url('/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/filter_descending.png');
}
.direction-option-text.ascending{
  background-image:url('/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/filter_ascending.png');
}


.complex-sort-filter-container-header{
  width: 100%;
  height: 50px;
  grid-row: 1;
  text-align:center;
  font-size:x-large;
  font-style: italic;
  font-weight: bold;
  font-family:sans-serif;
}

.styled-radio-container{
  display: grid;
  z-index: 102;
  width: inherit;
  position:relative;
  left:5%;
  height: 100%;
}

.styled-radio-option{
  cursor: pointer;
  display: grid;
  text-align: center;
  place-items: center; /* Centers both horizontally & vertically */
  z-index: 102;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  width:97%;
  height:100%;
  font-size: medium;
}



.sort-filter-division-line{
  position:relative;
  height:2px;
  left:1%;
  width:98%;
  background-color: white;
}

.filter-category-skill-container{
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.filter-category-container{
  background-image: url("/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/com_btn_filter_03_off.png");
  grid-row:2;
  grid-column:1;
  width: 100%;
  aspect-ratio: 270/65;
  background-size:contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 102;
  text-align:center;
  align-content: center;
  font-size:x-large;
  font-family:sans-serif;
}
.filter-category-container-text{
  position: relative;
  grid-row: 1;
  grid-column: 1;
  color: rgb(233, 130, 53);
  font-weight:bolder;
  justify-self: center;
  font-style:italic;
  font-family:sans-serif;
}
.filter-skill-container{
  background-image: url("/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/com_btn_filter_03_off.png");
  grid-row:2;
  grid-column:2;
  width: 100%;
  aspect-ratio: 270/65;
  background-size:contain;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 102;
  text-align:center;
  align-content: center;
  font-size:x-large;
  font-family:sans-serif;
}

.filter-skill-container-text{
  position: relative;
  grid-row: 1;
  grid-column: 2;
  color: rgb(233, 130, 53);
  font-weight:bolder;
  justify-self: center;
  font-style:italic;
  font-family:sans-serif;
}

.complex-sort-filter-container{
  top: 0%;
  left: calc(50% - min(250px, 50vw));
  display: none;
  position:fixed;
  justify-content: center;
  align-items: center;
  z-index: 101;
}

.complex-sort-filter-container-background{
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
  pointer-events: none;
  position:fixed;
}

.complex-sort-filter-container-background-top,
.complex-sort-filter-container-background-middle,
.complex-sort-filter-container-background-bottom {
  position: absolute;
  background-image: url("/dbManagement/DokkanFiles/global/en/layout/en/image/common/com_dialog.png");
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
}


.complex-sort-filter-container-background-top {
  top: 0;
  background-position: top;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.complex-sort-filter-container-background-middle {
  background-position: 0 center;
  background-size: 100% 1000%;
  background-repeat: repeat-y;
}

.complex-sort-filter-container-background-bottom {
  bottom: 0;
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.styled-radio-option-left,
.styled-radio-option-middle,
.styled-radio-option-right {
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.styled-radio-option-left {
  grid-column:1 / span 1;
  background-position: left center;
}

.styled-radio-option-middle {
  display: flex;
  grid-column:2 / span 1;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  background-position: center center;
}

.styled-radio-option-right {
  right: 0;
  grid-column:3 / span 1;
  background-position: right center;
}


#column1{
  grid-column: 1;
  display:grid;
  height:100vh;
}

#column2{
  grid-column: 2;
  display:grid;
  height:100vh;
}

#column3{
  grid-column: 3;
  display:grid;
  height:100vh;
}

#column4{
  grid-column: 4;
  display:grid;
  height:100vh;
}

#column5{
  grid-column: 5;
  display:grid;
  height:100vh;
}


#base-stats {
  display: grid;
  height: 100%;
  position: relative;
}

#stats-container{
  display: grid;
  justify-content: center;
  align-items: center;
}

#initial-HP-display, #initial-ATK-display, #initial-DEF-display{
  grid-column:1;
  font-size: 14px;
  justify-self: right;
}

#extra-HP-input, #extra-ATK-input, #extra-DEF-input{
  grid-column:2;
  width: 50px;
  height: 15px;
  justify-self: center;
  align-self: center;
}

#final-HP-display, #final-ATK-display, #final-DEF-display{
  width: 150px;
  height: 60px;
  font-size: 35px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  font-weight: bold;
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.toggle-btn1, .toggle-btn2, .toggle-btn3, .toggle-btn4{
  width:100%;
  height:100%;
  border: none;
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/charamenu/potential/closed.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
}

.toggle-btn1.active, .toggle-btn2.active, .toggle-btn3.active, .toggle-btn4.active {
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/charamenu/potential/released.png') no-repeat center;
  background-size: contain;
  margin-right: 0px;
}

#ki-slider{
  margin-bottom: 30px;;
}

#ki-container {
  grid-row:2;
  display:grid;
  width: 350px;
  max-height:90vh;
  justify-content: center;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #333 #ffffff;
}

#starting-stats{
  grid-row:1;
}

#final-stats{
  grid-row:3;
}



#super-attack-buffs-container{
  display:grid;
  width: 100%;
  padding-top: 50px;
}



.super-attack-name{
  width:220px;
  height:50px;
  z-index:5;
  background-size:150%;
  background-position:center;
  border:none;
  grid-row:1;
  grid-column:1;
}

.super-attack-words{
  display:none;
  grid-row:3;
  grid-column:1;
  overflow:hidden;
  z-index:6;
}

.super-attack-words.super{
  width:76%;
  aspect-ratio: 225/62;
  transform:translate(-1%, -153%);
}

.super-attack-words.super img{
  transform: scale(1.5) translate(7%, -4%);
  position : relative;
}

.super-attack-words.ultra-super{
  width:239px;
  height: 91px;
  transform:translate(-13px, -110px);
}

.super-attack-words.ultra-super img{
  transform: scale(1.5) translate(9%, 0%);
  position : relative;
}

.super-attack-words.unit-super{
  width:82%;
  aspect-ratio: 240/104;
  transform:translate(0%, -121%);
}

.super-attack-words.unit-super img{
  position : relative;
  transform: scale(1.5) translate(16%, 13%)
}

@keyframes swap4on1off {
  0%, 79.9% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}

@keyframes swap4off1on {
  0%, 79.9% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}

#ki-circle{
  display:grid;
  width:220px;
  padding-bottom:44px;
}
.ki-circle-segment{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_1.png');
  width: 34%;
  height: 48%;
  grid-row:1;
  grid-column:1;
  background-repeat: no-repeat;
  background-size:contain;
}

.ki-circle-segment.blue{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_0.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.ki-circle-segment.blackened{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_1.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.ki-circle-segment.weaker{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_2.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.ki-circle-segment.equal{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_3.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.ki-circle-segment.super{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_4.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.ki-circle-segment.ultra{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_5.png');
  background-repeat: no-repeat;
  background-size:contain;
}

.ki-circle-segment.unit-super{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/ingame/battle/parts/btl_gauge_6.png');
  background-repeat: no-repeat;
  background-size:contain;
}




#unit-filter{
  display:none;
  z-index: 0;
  position: absolute;
  width: 50vh;
  height: 100vh;
}

#unit-filter-button{
  display:none;
}

#eza-container{
  display:grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row: 1;
  grid-column: 1;
  z-index:2;
}

.eza-button, .seza-button{
  display: block;
  width: 36px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-size:cover;
  background-repeat:no-repeat;
}



#unit-selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}





#leader-container {
  display:grid;
  grid-template-columns: 110px 40px 55px;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px;
  width: auto;
  height: 150px;
  position: relative;
}

#leader-A-Input-Ki, #leader-B-Input-Ki, #leader-Total-Input-Ki, #leader-A-Input-Stats, #leader-B-Input-Stats, #leader-Total-Input-Stats{
  width:auto;
  margin:0px;
}


#links-container {
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  grid-template-rows: repeat(18, 1fr);
  gap: 5px;
  width: 100%;
  height: 400px;
  position: relative;
}

#name-container {
  position: relative;
}

#seperate-or-join-leader {
  background-color: #FF5C35;
  width: 110px;
  grid-column: 1; 
}

#seperate-or-join-leader.JointLeader{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/character/cha_icon_leader.png');
  height: 50px;
  grid-row: 2;
}

#seperate-or-join-leader.SeperateLeader{
  background: url('/dbManagement/DokkanFiles/global/en/layout/en/image/character/cha_icon_subleader.png');
  background-repeat:repeat-y;
  height: 100px;
  grid-row: 2 /span 2;
}
#unit-circle-image{
  border: none;
  grid-row:1;
  grid-column:1;
  width: 74.325%;
  aspect-ratio:1/1;
}


#circle-base{
  width: 74.325%;
  aspect-ratio:1/1;
  border: none;
  grid-row:1;
  grid-column:1;
}

#character-icon {
  aspect-ratio: 163/219;
  display: block;
  grid-column: 1;
  grid-row:1;
  gap: 0px;
  position: relative;
}

#level-slider {
  appearance: auto; /* removes browser-specific styling */
  width: 100%; /* width of slider */
  height: 11px; /* height of slider */
  background: #FF5C35 ; /* orange background */
  outline: none; /* remove outline */
  border-radius: 1px; /* round corners */
  cursor: pointer;
}

#level-container {
  display:none;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  width: 100%;
  grid-column:1/span 2;
  grid-row: 2;
}

#all-skill-orb-container{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#equip-node-container{
  display:grid;
  grid-template-rows: 3fr 1fr;
  width:100%;
  height:100%;
}

#equip-node-image{
  grid-row:1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; 
}

#equip-node-input{
  grid-row:2;
}



#base-stat{
  font-family: "Courier New", Courier, monospace;
}

.ki-damage-text{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin:-2px;
  background-size:contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
  text-align: center;
  transform:translate(-35px, -25px);
  grid-row: 2;
  grid-column: 1;
}

#domain-container{
  display: grid;
  grid-row: 1;
  width: 100%;
  height: 10%;
}

#domain-image{
  width: 100%;
  grid-column: 2;
}

#super-passive-container{
  height:90vh;
  grid-row:2;
}

#super-chance-query{
  width:220px;
  height: min-content;
  padding: 0px;
  margin: 0px;
  grid-column:1;
}

#performed-chance-query{
  width:220px;
  height: min-content;
  padding: 0px;
  margin: 0px;
  grid-column:1;
}

#crit-chance-query{
  width:220px;
  height: min-content;
  padding: 0px;
  margin: 0px;
  grid-column:1;
}

.ki-damage-text-numDiv-red{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin:-2px;
  background-size:contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
  text-align: center;
}
@keyframes colorChangeRed0 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/0.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/0.png")
  }
}
.num-red-0 { 
  animation-name: colorChangeRed0;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/0.png");
  animation-duration: 1s;
}

@keyframes colorChangeRed1 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/1.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/1.png")
  }
}
.num-red-1 { 
  animation-name: colorChangeRed1;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/1.png");
}
@keyframes colorChangeRed2 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/2.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/2.png")
  }
}
.num-red-2 { 
  animation-name: colorChangeRed2;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/2.png");
}
@keyframes colorChangeRed3 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/3.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/3.png")
  }
}
.num-red-3 { 
  animation-name: colorChangeRed3;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/3.png")
}
@keyframes colorChangeRed4 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/4.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/4.png")
  }
}
.num-red-4 { 
  animation-name: colorChangeRed4;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/4.png");
}
@keyframes colorChangeRed5 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/5.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/5.png")
  }
}
.num-red-5 { 
  animation-name: colorChangeRed5;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/5.png");
}
@keyframes colorChangeRed6 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/6.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/6.png")
  }
}
.num-red-6 { 
  animation-name: colorChangeRed6;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/6.png");
}
@keyframes colorChangeRed7 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/7.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/7.png")
  }
}
.num-red-7 { 
  animation-name: colorChangeRed7;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/7.png");
}
@keyframes colorChangeRed8 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/8.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/8.png")
  }
}
.num-red-8 { 
  animation-name: colorChangeRed8;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/8.png");
}
@keyframes colorChangeRed9 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/9.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/9.png")
  }
}
.num-red-9 { 
  animation-name: colorChangeRed9;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_red/9.png");
}

.ki-damage-text-numDiv-yellow{
  display: inline-block;
  width: 30px;
  height: 30px;
  margin:-2px;
  background-size:contain;
  background-repeat: no-repeat;
  vertical-align: bottom;
  text-align: center;
}
@keyframes colorChangeYellow0 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/0.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/0.png")
  }
}
.num-yellow-0 { 
  animation-name: colorChangeYellow0;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/0.png");
  animation-duration: 1s;
}

@keyframes colorChangeYellow1 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/1.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/1.png")
  }
}
.num-yellow-1 { 
  animation-name: colorChangeYellow1;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/1.png");
}
@keyframes colorChangeYellow2 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/2.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/2.png")
  }
}
.num-yellow-2 { 
  animation-name: colorChangeYellow2;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/2.png");
}
@keyframes colorChangeYellow3 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/3.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/3.png")
  }
}
.num-yellow-3 { 
  animation-name: colorChangeYellow3;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/3.png")
}
@keyframes colorChangeYellow4 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/4.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/4.png")
  }
}
.num-yellow-4 { 
  animation-name: colorChangeYellow4;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/4.png");
}
@keyframes colorChangeYellow5 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/5.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/5.png")
  }
}
.num-yellow-5 { 
  animation-name: colorChangeYellow5;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/5.png");
}
@keyframes colorChangeYellow6 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/6.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/6.png")
  }
}
.num-yellow-6 { 
  animation-name: colorChangeYellow6;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/6.png");
}
@keyframes colorChangeYellow7 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/7.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/7.png")
  }
}
.num-yellow-7 { 
  animation-name: colorChangeYellow7;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/7.png");
}
@keyframes colorChangeYellow8 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/8.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/8.png")
  }
}
.num-yellow-8 { 
  animation-name: colorChangeYellow8;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/8.png");
}
@keyframes colorChangeYellow9 {
  0% {
    background-image: url("/dbManagement/assets/misc/fonts/super_attack/9.png")
  }
  100%{
    background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/9.png")
  }
}
.num-yellow-9 { 
  animation-name: colorChangeYellow9;
  animation-duration: 1s;
  background-image: url("/dbManagement/assets/misc/fonts/super_attack_yellow/9.png");
}

#cards-body-container {
  display: grid;
  grid-template-columns: 22fr 10fr 29fr 17fr 17fr;
  height: 100vh;
  width: 100vw;
  place-items: start;
}


#sort-container {
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  left: 40px;
}

#filter-container{
  display: block;
  width: 100%;
  height: auto;
  position: fixed;
  left: 125px;
}

#sort-filter-container{
  display: grid;
  width: 180px;
  height: 90px;
  position: fixed;
  right: 50px;
  bottom: 100px;
  background-image: url("/dbManagement/DokkanFiles/global/en/layout/en/image/common/btn/com_btn_02_yellow.png");
  z-index: 10;
  cursor: pointer;
}


#sort-direction{
  width: 44px;
  height: 44px;
  position: absolute;
  right: -14px;
  top: 5px;

}

#sort-text{
  position: absolute;
  justify-self:center;
  align-self:center;
  font-family: "Roboto", sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-size: 25px;
  color: #FFFFFF;
  pointer-events: none;
}

.unit-eza-image{
  aspect-ratio: 75/49;
  width:40%;
  position:absolute;
  bottom:0;
  right:0px;
  border:none;
  z-Index: 4;
  pointer-events:none;
}
.unit-container{
  aspect-ratio: 1/1;
}


@keyframes fade {
  0%, 36% {
    opacity: 1;
  }
  42%, 94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.unit-info-holder-level-level{
  position: absolute;
  height: 79%;
  width: 67%;
  top: 14%;
  left: -5%;
}

.unit-info-holder-level-number{
  position: absolute;
  left: 45%;
  top: 20%;
  font-size: 149%;
  color: yellow;
  font-family: sans-serif;
  font-style: italic;
}
.unit-info-holder-text{
  position: absolute;
  width: 92%;
  align-self: center;
  left: 50%;
  transform: translateX(-50%);
  top: 11%;
  font-size: 150%;
  color: yellow;
  font-family: sans-serif;
  text-align: center;
  font-style: italic;
}

.unit-rarity-image{
  width: 45%;
  height: 45%;
  position: absolute;
  bottom: -6%;
  left: -1%;
  border: none;
  z-index: 3;
  pointer-events: none;
}

.unit-lr-animation{
  aspect-ratio: 1/1;
  display:none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 5%;
  left: 5%;
  width:85%;
  border:none;
  z-index: 2;
  pointer-events: none;
}

.unit-lr-background{
  aspect-ratio: 1/1;
  display:none;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0%;
  left: -2%;
  width:100%;
  border:none;
  z-index: 2;
  pointer-events: none;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.unit-selection-button {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: inherit;
  width: inherit;
  border: none;
  margin: 5px;
  cursor: pointer;
  display: block
}

.unit-info-holder{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 10px;
  width: 75%;
  height: 30%;
  position: absolute;
  pointer-events: none;
  display: block;
  left: 10%;
  bottom: -23%;
  z-index: 2;
}
.unit-thumb-image{
  width: 95%;
  height: 95%;
  position: absolute;
  top: 6%;
  left: 0%;
  z-index: 3;
  pointer-events: none;
}

.unit-back-image{
  width: 75%;
  height: 79%;
  position: absolute;
  top: 16%;
  left: 10%;
  z-index: 1;
  pointer-events: none;
}

.unit-typing-image{
  width: 34%;
  height: 34%;
  position: absolute;
  top: 4%;
  right: 2%;
  border: none;
  z-index:3;
  pointer-events: none;
}



#unit-selection-body-container{
  background-color: #222;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  top: 20px;
}

#landing-page-link {
  background-color: #222;
  position:fixed;
  z-index: 10;
}

#passive-container {
  display: grid;
  grid-column: 3;
  grid-row: 1 ;
  
  position: relative;
  
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #333 #ffffff;
}

#passive-support-container{
  display: grid;
  grid-column: 1;

}

#passive-query-container{
  width: 100%;
  overflow-x:clip;
}

#passive-slider{
  height:20px;
  border:1px solid black;
  margin:0px;
  cursor:pointer;
  grid-column:1;
}

#super-attack-questions-container{
  display: grid;
  height:auto;
  overflow-x: clip;
  
}

#superAttackQueryHolder{
  align-self: flex-start;
}
#super-container{
  display: none;
  height:50%;
  white-space:nowrap;
  
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #333 #ffffff;
  font-size:72%;
}



.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


#links-and-leads {
  width: 100%;
  height: 100%;
  position: relative;
}

#link-buffs{
  height:120px;
  width: 100%;
  grid-column:1 / span 3;
  grid-row:1;
}

#links-button{
  height:60px;
  border: 1px solid black;
  margin:0px;
  cursor:pointer;
}

#links-slider{
  height:20px;
  border: 1px solid black;
  margin: 0px;
  cursor: pointer;
}

#awaken-container{
  display: grid;
  width: 0px;
  grid-template-rows: 90px 90px 90px 90px;
  grid-template-columns: 90px 90px 90px 90px;
}



#transformation-button{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 109px;
  border: none;
  margin: 5px;
  cursor: pointer;
  background:round;
}

#awakenings-button{
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 109px; 
  cursor: pointer;
  background:round
}



/* Reset default margin and padding */
body, h1, h2, p, div {
    margin: 0;
    padding: 0;
    color:white;
  }
  
/* Basic styling for the questions container */
#questions-container {
  margin-bottom: 20px;
}

/* Styling for individual questions */
#questions-container > div {
  margin-bottom: 10px;
}

/* Styling for sliders */
input[type="range"] {
  width: 100%;
  cursor: pointer;
}

#active-container{
  display: grid;
  width: 100%;
  height: 10%;
}

.class-typing-selection{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  width: auto;
  position: relative;
}


.enemy-defending-class-typing{
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  aspect-ratio: 1/1;
}

.specific-moment-details-selection{
  display: grid;
}

.enemy-final-numbers{
  display: grid;
}

.enemy-stats-input{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 2fr 3fr;
}


.super-attack-query-number-input{
  width: 6.7%;
}

.super-attack-query-question{
  display:grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: 1fr;
}



.super-attack-query-question-super-attack-name{
  grid-row:1;
  background-size: 160%;
  background-position:center;
  background-repeat: no-repeat;
  height: 47%;
  aspect-ratio: 6/1;
}

@font-face {
  font-family: 'Helvetica Black Condensed Oblique';
  src: url('/dbManagement/assets/misc/fonts/Helvetica Black Condensed Oblique/Helvetica Black Condensed Oblique.woff2') format('woff2'),
       url('/dbManagement/assets/misc/fonts/Helvetica Black Condensed Oblique/Helvetica Black Condensed Oblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}