#lwf-stage-a, #lwf-stage-b, #lwf-stage-c, #lwf-stage-d {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
}

#lwf-stage-a{
    z-index:5;
}

#lwf-stage-b{
    z-index:3;
}
#lwf-stage-c{
    z-index:4;
}
#lwf-stage-d{
    z-index:1;
}

#lwf-container {
    position: relative;
    width: 284px;
    height: 379px;
}