<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <script>
        // Pass the sub-url to the script.js file
      var suburl = "<%= suburl %>";
    </script>
    <div id="image-container"></div>
    <div id="text-container"></div>
    <div id="name-container"></div>
    <div id="typing-container"></div>
    <ul id="categories-list"></ul>
    <button id="toggle-button1" class="toggle-btn"></button>
    <button id="toggle-button2" class="toggle-btn"></button>
    <button id="toggle-button3" class="toggle-btn"></button>
    <button id="toggle-button4" class="toggle-btn"></button>
    <div id="stats-container"></div>
    <script src="script.js"></script>

</body>
</html>
