.toggle-btn {
  width:50px;
  height:50px;
  border: none;
  background: url('dbManagement/assets/misc/potential/closed.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
  margin-right: 0px;
}

.toggle-btn.active {
  background: url('dbManagement/assets/misc/potential/released.png') no-repeat center;
  background-size: cover;
  margin-right: 0px;
}

.HiPoStar {
  width: 50px;
  height: 50px;
  border: none;
  background: url('dbManagement/assets/misc/potential/HiPoStar.png') no-repeat center;
  background-size: cover;
  cursor: pointer;
  margin-right: 0px;

}

/* Reset default margin and padding */
body, h1, h2, p, div {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling for the questions container */
  #questions-container {
    margin-bottom: 20px;
  }
  
  /* Styling for individual questions */
  #questions-container > div {
    margin-bottom: 10px;
  }
  
  /* Styling for sliders */
  input[type="range"] {
    width: 100%;
  }
  
  /* Styling for the result container */
  #result-container {
    margin-top: 20px;
  }
  
  /* Styling for the result */
  #result {
    font-size: 24px;
    font-weight: bold;
  }
  